<p>
<% if (! current_user.nil? && ! @trip.user_registered?(current_user)) || ! user_signed_in? %>
<%= link_to 'Click here to register for this trip.', new_order_path(@trip.id) %>
<%# I created a custom named route to be able to include the trip_id in the url. This is not OOB functionality. %>

<% else %>
	<%= link_to 'Click here to modify your registration for this trip.', edit_order_path(@order.id) %>
<% end %>
</p>