<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>
		<%= @message %>
	</p>
	<p>See <%= link_to 'here', public_trip_url(@trip.id) %> for information and to sign up.</p>
  </body>
</html>