	<table>
		<tr>
			<th>Item</th>
			<th>Quantity</th>
			<th>Item Price</th>
			<th>Extended Price</th>
		</tr>
		<% @order.line_items.sort!.each do |line_item| %>
			<tr>
				<td><%= line_item.item.name %></td>
				<td><%= line_item.quantity %></td>
				<td><%= number_to_currency(line_item.item.price) %></td>
				<td><%= number_to_currency(line_item.extended_price) %></td>
			</tr>
		<% end %>
	</table>